body,div,table,tr,td{margin:0;padding:0;}
table{border-collapse: separate;border-spacing: 0;}
table td{height:25px;border:1px solid #d3d3d3;}
.header,.content{width:120%;}
.header table,.content table{width:120%;}
.header{width:120%;position:fixed;top:0;left:0;height:25px;}
.header table td{text-align:left;}
.content{margin-top:25px;}
.content table td{}
.content table tbody{margin-top:30px;}